@import '../../../scss/mixins';

.link {
  display: block;
  cursor: pointer;
}

.job-offer-short {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
  border-radius: 4px;
  margin: 32px auto;
  width: 100%;
  padding: 12px 12px 40px;
  position: relative;
}

.img {
  width: 90px;
  height: 90px;
  line-height: 90px;
  display: inline-block;
  vertical-align: middle;

  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

}

.description {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  padding-left: 16px;

  @media screen {
    @media (min-width: 450px) {
      width: 65%;
    }
  }


  @media screen {
    @media (min-width: 700px) {
      width: auto;
    }
  }

}

.company-name {
  @include font-roboto;
  letter-spacing: 1px;
  padding: 4px 0;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: #334680;
}

.job-title {
  @include font-roboto;
  font-style: normal;
  font-weight: normal;
  padding: 4px 0;
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #334680;

  @media screen {
    @media (min-width: 700px) {
      font-size: 18px;
    }
  }


}

.is-full-time {
  @include badge-mixin;
}

.icon {
  @include icon-mixin;
}

.info {
  @include info-mixin;
}

.summary {
  position: absolute;
  bottom: 15px;
  right: 0;
}
