@import '../../../scss/mixins';

.search-results {
  width: 70%;
  float: right;
}

.wrapper {
  margin: 10% auto;
  text-align: center;

  p {
    @include font-popins;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    vertical-align: middle;
    color: #1e86ff;
    margin-top: 20px;
  }

  .icon {
    color: #1e86ff;
    font-family: 'Material Icons';
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    text-transform: none;
    text-decoration: none;
  }

  .link {
    text-decoration: none;
    color: #1e86ff;

    .txt {
      text-decoration: underline;
    }

  }

}

