@import '../../../scss/mixins';

.apply-panel {
  float: left;
  width: 100%;
  padding-bottom: 20px;

  @media screen {
    @media (min-width: 1300px) {
      width: 20%;
      padding-right: 5%;
      padding-bottom: 0;
    }
  }
}

.subtitle {
  @include subtitle-mixin;
}

.link {
  @include font-popins;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1e86ff;
  vertical-align: middle;
}

.small-gap {
  margin: 0 1em;
}

.gap {
  margin-right: 15px;
}

.description {
  @include font-popins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  a {
    text-decoration: none;
    color: #1e86ff;
  }


}

.icon {
  font-family: 'Material Icons';
  vertical-align: middle;
}
