@import 'scss/mixins';

*,
html,
body {
  @include set-to-zero;
  @include font-roboto;
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
}

.footer {
  padding: 6em 0 1em;
  width: 100%;
  text-align: center;
  color: #b9bdcf;
}

.app {

  width: 100%;
  padding: 0 12px;
  margin: 0 auto;

  @media screen {
    @media (min-width: 700px) {
      max-width: 1850px;
      padding: 0 60px;
    }
  }
}

.app-body {
  overflow: hidden;
  min-height: 200px;
  width: 100%;

  &::after {
    clear: both;
  }

}
