@import '../../../scss/mixins';

.details-panel {
  width: 100%;
  float: right;

  @media screen {
    @media (min-width: 1300px) {
      width: 80%;
    }
  }

}

.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #334680;

  @media screen {
    @media (min-width: 1300px) {
      padding: 16px 123px 16px 0;
    }
  }


  p {
    padding: 5px 0;

    @media screen {
      @media (min-width: 1300px) {
        padding: 20px 0;
      }
    }

  }

  ul {
    padding: 5px;

    @media screen {
      @media (min-width: 1300px) {
        padding: 20px 10px;
      }
    }

  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #1e86ff;
  }

}

.job-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #334680;
}

.full-time {
  @include badge-mixin;
  margin-left: 17px;
}

.icon {
  @include icon-mixin;
}

.desc {
  @include info-mixin;
}

.wrapper {
  margin-bottom: 32px;
}

.img {
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  line-height: 42px;

  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

}

.company-wrapper {
  line-height: 42px;
}

.company-details {
  vertical-align: middle;
  display: inline-block;
  height: 42px;
  padding-left: 12px;
}

.company-name {
  @include set-to-zero;
  @include font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #334680;
}
